<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create',{{ site.analytics.google.tracking_id | default: "'UA-163434933-1'" }},{
  'cookieExpires': {{ site.analytics.google.cookie_duration | default: 63072000 }},
  'storeGac' : {{ site.analytics.google.campaign_cookies == true }}
  });
  ga('set', 'allowAdFeatures', {{ site.analytics.google.campaign_cookies == true }});
  ga('set', 'anonymizeIp', {{ site.analytics.google.anonymize_ip == true }});
  ga('send','pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
