---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Fixed Masthead
.masthead {
  position: fixed;
  width: 100%;
  background-color: $background-color;
}
@media (min-width: 64em) { .sticky { top: 4em; } }

:target::before {
  content: "";
  display: block;
  height: 4em; /* fixed header height*/
  margin: -4em 0 0; /* negative fixed header height */
}

// customized border for author avatar
.author__avatar img {max-width: 110px; border-radius: 10px;}
@media (min-width: 64em) { .author__avatar img {padding: 0px; border: 1px solid #51555d;} }

// for forcing word-wrap for code blocks
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

// fixes figure images being super-sized when captions are wide
figure img {
	width: auto;
}

//separate background color
.initial-content {
	background-color: #12151a;
  //background-image: linear-gradient(black, $background-color);
}

#main {
	background-color: $background-color;
	border-radius: 10px 10px 0px 0px;
}

.page__hero {
  margin-bottom: 1em;
}

.page__content {
  padding-top: 1em;
}

//fix for weird breadcrumb and sidebar bordering on <64em
@media (max-width: 63.999em) {
  .breadcrumbs ol {
    float: left;
  }
}

.sidebar > * {
  float: left;
}

//TODO it seems like the theme does a few odd things at exactly 64 em
//because of max-width: 64em statements. Perhaps investigate and pull request