---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  position: fixed;
  width: 100%;
  background-color: $background-color;
}

@media (min-width: 64em) { .sticky { top: 4em; } }

.author__avatar img {max-width: 110px; border-radius: 25%;}
@media (min-width: 64em) { .author__avatar img {padding: 0px; border: 1px solid #51555d;} }