---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Fixed Masthead
.masthead {
  position: fixed;
  width: 100%;
  background-color: $background-color;
}
@media (min-width: 64em) { .sticky { top: 4em; } }

:target::before {
  content: "";
  display: block;
  height: 4em; /* fixed header height*/
  margin: -4em 0 0; /* negative fixed header height */
}

// for forcing word-wrap for code blocks
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

// fixes figure images being super-sized when captions are wide
figure img {
	width: auto;
}

//separate background color
.initial-content {
	background-color: #12151a;
}

#main {
	background-color: $background-color;
	border-radius: 10px 10px 0px 0px;
}

.page__hero {
  margin-bottom: 1em;
}

.page__hero-image {
  border-radius: 10px;
}

.page__content {
  padding-top: 1em;
}

//fix for weird breadcrumb and sidebar bordering on <64em
@media (max-width: 63.999em) {
  .breadcrumbs ol {
    float: left;
  }
}

.sidebar > * {
  float: left;
}

//change table display so they expand to fit the page
table {
  display: table;
}

//optional CSS class for rounded images, usually square icons
.rounded {
  border-radius: 20%;
}

//use static rounding of 20px for larger images
.rounded-large {
  border-radius: 20px;
}

//css class for small images in-line with text
.text-inline {
  height: 1.2em;
  position: relative;
  top: -0.15em;
}

//override color of github icon
.fa-github {
  color: #F0F6FC !important; 
}

//css class for consistent spacing on image+text.
//moves bottom margin to div, instead of text
.img-text {
  display: inline-block;
  p {
    margin-bottom: 0em;
  }
  margin-bottom: 1.3em;
}

//css class for consistent spacing on heading+image+text.
//no bottom margin at all. mainly used in yearly plans blog post
.head-img-text {
  display: inline-block;
  p {
    margin-bottom: 0em;
  }
}

//makes the author avatar image more rectangular
.author__avatar img {
  border-radius: 20%;
}

//blockquotes in update changelogs. Smaller margin an no italics
details blockquote {
  margin: 1em 0 1em 0;
  font-style: inherit;
}

//css for the newsletter submission feed

select {
  width: 100%;
  background-color: #252a34;
}

.required {
  color: #00c040;
}

.form-group {
  margin-bottom: 1em;
  margin-top: 1em;
}

//TODO it seems like the theme does a few odd things at exactly 64 em
//because of max-width: 64em statements. Perhaps investigate and pull request